{% load static %}
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['table'] });
    google.charts.setOnLoadCallback(drawTable);

    function drawTable() {

      var result = JSON.parse("{{data|escapejs}}");
      var dict = result;
      console.log(typeof(dict));
      console.log(dict);
      
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Username');
      data.addColumn('number', 'Rating');
      data.addColumn('number', 'Highest Rating');
      data.addColumn('number', 'Global Rank');
      data.addColumn('number', 'Country Rank');
      
      for (let i=0;i<dict.length;i++)
      {
        var arr = [];
        for (var key in dict[i]) 
        {
          if (dict[i].hasOwnProperty(key)) 
          {
            arr.push(dict[i][key]);
          }
        }
        data.addRows([arr]);
      }

      var table = new google.visualization.Table(document.getElementById('table_div'));
      // var options = {
      //   allowHtml: true,
      //   cssClassNames: {
      //   tableCell: 'small-font'
      //   },
      //   showRowNumber: true, 
      //   width: '40%', 
      //   height: '80%' 
      // };
      table.draw(data,{showRowNumber: true});
    }
  </script>
  <script>
    //Prevent from resubmission
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
</head>

<body>
  <div class="bgleft">
    <h1>Codechef Ranklist Generator</h1>
  </div>
  <div id="table_div" align="center"></div>
  <div class="bgright">
    <h2>Add New User</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="username" placeholder="username"><br>
      <div>
        <button type="submit" >Submit</button>
      </div>
      
    </form>
  </div>
</body>

</html>